{% load static %}
<section id="left-dash">
    <div class="row">
        <div class="left-dash">
            <div class="left-dash-content">
                <div class="left-dash-upper">
                    <div class="logo">
                        <a href="">
                            <img src="{% static 'images/logo.png' %}" alt="">
                        </a>
                    </div>

                    <a href="{% url 'dashboard' %}" class="left-dash-item">
                        <p>Dashboard</p>
                    </a>
                    
                    
                    {% if request.user.role == "U" and request.user.is_verified == True%}
                        {% if not request.user.institutional_user and not request.user.general_and_lifetime_user %}
                        <a href="{% url 'new_membership_page' %}" class="left-dash-item">
                            <p>New Membership</p>
                        </a>
                        {% endif %}
                        {% if request.user.general_and_lifetime_user.rejected == True or request.user.institutional_user.rejected == True %}
                        <a href="{% url 'remarks' %}" class="left-dash-item">
                            <p>Remarks</p>
                        </a>
                        {% endif %}
                    {% endif %}

                    {% if request.user.general_and_lifetime_user.membership_type == "G" %}
                        <a href="{% url 'upgrade_to_lifetime' %}" class="left-dash-item">
                            <p>Upgrade to Lifetime</p>
                        </a>
                    {% endif %}
                    {% if request.user.general_and_lifetime_user.membership_type == "G" or request.user.general_and_lifetime_user.membership_type == "L" or request.user.general_and_lifetime_user.membership_type == "S" %}
                        <a href="{% url 'payment' %}" class="left-dash-item">
                            <p>Payment</p>
                        </a>
                    {% endif %}
                    {% if request.user.institutional_user %}
                        <a href="{% url 'institutional_payment' %}" class="left-dash-item">
                            <p>Institutional Payment</p>
                        </a>
                    {% endif %}

                    {% if request.user.role == "A" %}
                    <a href="{% url 'gl_verification_list' %}" class="left-dash-item">
                        <p>GLS Verification List</p>
                    </a>

                    <a href="{% url 'ins_verification_list' %}" class="left-dash-item">
                        <p>Ins Verification List</p>
                    </a>
                    {% endif %}

                    <a href="{% url 'logout' %}" class="left-dash-item">
                        <p>Logout</p>
                    </a>
                    
                </div>
            
            </div>
        </div>

        <div class="side-bar">
            <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions"
                aria-controls="offcanvasWithBothOptions"><i class="fa-solid fa-bars"
                    style="color: #FCB810; font-size: 25px"></i></button>
            <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
                aria-labelledby="offcanvasWithBothOptionsLabel">

                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>

                <div class="left-dash-content">
                    <div class="left-dash-upper">
                        <div class="logo">
                            <a href="">
                                <img src="{% static 'images/logo.png' %}" alt="">
                                
                            </a>
                        </div>
    
                        <a href="{% url 'dashboard' %}" class="left-dash-item">
                            <p>Dashboard</p>
                        </a>
                        
                        
                        {% if request.user.role == "U" and request.user.is_verified == True%}
                            {% if not request.user.institutional_user and not request.user.general_and_lifetime_user %}
                            <a href="{% url 'new_membership_page' %}" class="left-dash-item">
                                <p>New Membership</p>
                            </a>
                            {% endif %}
                            {% if request.user.general_and_lifetime_user.rejected == True or request.user.institutional_user.rejected == True %}
                            <a href="{% url 'remarks' %}" class="left-dash-item">
                                <p>Remarks</p>
                            </a>
                            {% endif %}
                        {% endif %}
    
                        
                        {% if not request.user.role == "U" %}
                        <a href="{% url 'gl_verification_list' %}" class="left-dash-item">
                            <p>GL Verification List</p>
                        </a>
    
                        <a href="{% url 'ins_verification_list' %}" class="left-dash-item">
                            <p>Ins Verification List</p>
                        </a>
                        {% endif %}
    
                        <a href="{% url 'logout' %}" class="left-dash-item">
                            <p>Logout</p>
                        </a>
                        
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
</section>