<section id="left-dash">
    <div class="row">
        <div class="left-dash">
            <div class="left-dash-content">
                <div class="left-dash-upper">
                    <div class="logo">
                        <a href="">
                            
                        </a>
                    </div>

                    <a href="{% url 'dashboard' %}" class="left-dash-item">
                        <p>Dashboard</p>
                    </a>
                
                    <a href="{% url 'new_member' %}" class="left-dash-item">
                        <p>New Membership</p>
                    </a>
                    
                    <a href="membership-status.html" class="left-dash-item">
                        <p>Membership Status</p>
                    </a>

                    <a href="{% url 'logout' %}" class="left-dash-item">
                        <p>Logout</p>
                    </a>
                    
                </div>
               

              
            </div>
        </div>

        <div class="side-bar">
            <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions"
                aria-controls="offcanvasWithBothOptions"><i class="fa-solid fa-bars"
                    style="color: #FCB810; font-size: 25px"></i></button>
            <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
                aria-labelledby="offcanvasWithBothOptionsLabel">

                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>

                <div class="left-dash-content">
                    <div class="left-dash-upper">
                        <div class="logo">
                            <a href="">
                            
                            </a>
                        </div>

                        
                    <a href="" class="left-dash-item">
                        <p>New Membership</p>
                    </a>
                    
                    <a href="" class="left-dash-item">
                        <p>Membership Status</p>
                    </a>

                    <a href="" class="left-dash-item">
                        <p>Logout</p>
                    </a>
                    
                    
                </div>
            </div>
        </div>
    </div>
</section>